# requirements for the python virtualenv

# TODO: pin a specific version
https://github.com/apache/trafficserver-qa/archive/master.zip
pyyaml
pyOpenSSL

# Things that seem to be missing on rhel7
werkzeug
jinja2
six